footer {
  padding: 3rem 0;
  text-align: center;   
  margin-top: 4%;
  box-shadow: var(--shadow-dark-color);
  border: 1px solid var(--color-primary-variant)
}
footer a h1:hover {
  color: var(--color-link);
}
.footer__logo {
  background-color: none;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  gap: 2rem;
  margin: 0 auto 1rem;
}
.footer__socials {
  gap: 1rem;
  margin-bottom: 4rem;
}
.footer__socials div a {
  background: var(--color-bg-variant-hover);
  border: 1px solid transparent;
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  margin-right: 10px;
}
.footer__socials div a:hover {
  color: var(--color-white);
  background: transparent;
  border: 1px solid var(--color-bg-variant-hover);
}
.footer__copyright {
  margin-bottom: 4rem;
  font-size: 18px;
}
/* ===================MEDIA QUERIES (MEDIUM DEVICES) =============================*/

@media screen and (max-width: 1024px) {

}
/* ===================MEDIA QUERIES (SMALL DEVICES) =============================*/

@media screen and (max-width: 600px) {
.permalinks {
  flex-direction: column;
  gap: 1.5rem;
}
.footer__socials {
  margin-bottom: 2.6rem;
}
}

@media screen and (max-width: 375px) {
  input, textarea {
    font-size: 15px;
}
  .footer__copyright {
    font-size: 19px;
}
  }

  @media screen and (max-width: 280px) {
  footer {
    margin-bottom: 0rem;
}
  }





